<a href="https://colab.research.google.com/github/Lynda-Starkus/Roeya_EDA_dataset/blob/main/EDA_Infologic_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Packages to manipulate data
import pandas as pd
import numpy as np

#Packages for data visualization
import matplotlib.pyplot as plt 
from matplotlib import rcParams 
import seaborn as sns

#Choosing styling params
plt.style.use("ggplot")
rcParams['figure.figsize'] = (12, 6)

#date manipulation packages
import datetime as dt

In [2]:
#Defining paths
dataset_dir_path = './drive/Shareddrives/[PFE][ESI-ALGER][LINDA BELKESSA]/Codes/EDA_Infologic_dataset/Dataset/DataForecastingAIOps'
save_path = './drive/Shareddrives/[PFE][ESI-ALGER][LINDA BELKESSA]/Codes/EDA_Infologic_dataset/clean_disk_evolution_series.csv'
save_images = './drive/Shareddrives/[PFE][ESI-ALGER][LINDA BELKESSA]/Codes/EDA_Infologic_dataset/disk_evolution_series_plots'
disk_evolution = pd.read_csv(dataset_dir_path+'/DiskEvolution_series.csv')
tablespace = pd.read_csv(dataset_dir_path+'/Tablespace_series.csv')
swap = pd.read_csv(dataset_dir_path+'/swap_series.csv')
open_threads_ratios = pd.read_csv(dataset_dir_path+'/OpenThreadsRatios_series.csv')

In [3]:
print('Shape of disk_evolution data = ', disk_evolution.shape)
disk_evolution.head()

Shape of disk_evolution data =  (12801282, 3)

                       _time    _value  series
0  2021-01-04 12:00:00+00:00  0.740462     945
1  2021-01-04 14:00:00+00:00  0.740457     945
2  2021-01-04 16:00:00+00:00  0.740441     945
3  2021-01-04 18:00:00+00:00  0.740433     945
4  2021-01-04 20:00:00+00:00  0.740436     945

In [4]:
print('Shape of tablespace data = ', tablespace.shape)
tablespace.head()

Shape of tablespace data =  (291787, 3)

                       _time    _value  series
0  2021-07-27 00:00:00+00:00  0.823789       0
1  2021-07-28 00:00:00+00:00  0.823789       0
2  2021-07-29 00:00:00+00:00  0.823789       0
3  2021-07-30 00:00:00+00:00  0.823789       0
4  2021-07-31 00:00:00+00:00  0.823789       0

In [5]:
print('Shape of Swap data = ', swap.shape)
swap.head()

Shape of Swap data =  (784080, 3)

                       _time    _value  series
0  2021-08-27 00:00:00+00:00  0.046509      90
1  2021-08-27 06:00:00+00:00  0.046509      90
2  2021-08-27 12:00:00+00:00  0.046509      90
3  2021-08-27 18:00:00+00:00  0.046509      90
4  2021-08-28 00:00:00+00:00  0.046509      90

In [6]:
print('Shape of open threads ratios data = ', open_threads_ratios.shape)
open_threads_ratios.head()

Shape of open threads ratios data =  (1919700, 3)

                       _time    _value  series
0  2021-02-16 00:00:00+00:00  0.142660     105
1  2021-02-16 02:00:00+00:00  0.142578     105
2  2021-02-16 04:00:00+00:00  0.142803     105
3  2021-02-16 06:00:00+00:00  0.142667     105
4  2021-02-16 08:00:00+00:00  0.142660     105

In [7]:
disk_evolution.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12801282 entries, 0 to 12801281
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   _time   object
 1   _value  float64
 2   series  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 293.0+ MB

In [8]:
#Treating first type of series : disk evolution
print('Count of unique values in series = \n', disk_evolution['series'].value_counts())
print('-----------------------------------')
print('Range of values for "series" [min = ', disk_evolution['series'].min(), ' - max = ', disk_evolution['series'].max(), ']')
disk_evolution[['_time','_value']].describe()

Count of unique values in series =
 945     4381
2537    4381
2348    4381
2353    4381
2347    4381
        ...
832     4381
829     4381
828     4381
833     4381
724     4381
Name: series, Length: 2922, dtype: int64
-----------------------------------
Range of values for "series" [min =  0  - max =  2921 ]

             _value
count  1.280128e+07
mean   7.121612e-01
std    2.014878e-01
min    0.000000e+00
25%    5.777524e-01
50%    7.483893e-01
75%    8.695027e-01
max    1.000000e+00

In [9]:
#Sorting DataFrame by column : series
disk_evolution.sort_values(by=['series','_time'], inplace = True)
disk_evolution.head()

                             _time    _value  series
9191338  2021-01-04 12:00:00+00:00  0.786654       0
9191339  2021-01-04 14:00:00+00:00  0.786680       0
9191340  2021-01-04 16:00:00+00:00  0.786676       0
9191341  2021-01-04 18:00:00+00:00  0.786675       0
9191342  2021-01-04 20:00:00+00:00  0.786675       0

In [10]:
import re
df = pd.DataFrame(columns=['id','value'])
df['id'] = disk_evolution['series']
df['value'] = disk_evolution['_value']
df['id'] = [v for v in list(disk_evolution['series'].values)]

index = disk_evolution['_time']
index = [v.split('+')[0].split('.')[0] for v in index]

In [11]:
index_timer = [dt.datetime.strptime(v, '%Y-%m-%d %H:%M:%S') for v in index]

In [12]:
df.index = index_timer

In [13]:
print('Count of null values = ',len(df[df['value'].isnull() == True]))
df.head()

Count of null values =  0

                     id     value
2021-01-04 12:00:00   0  0.786654
2021-01-04 14:00:00   0  0.786680
2021-01-04 16:00:00   0  0.786676
2021-01-04 18:00:00   0  0.786675
2021-01-04 20:00:00   0  0.786675

In [14]:
series_dict = {}

min_timestamp = min(index_timer)
max_timestamp = max(index_timer)
timestamps = pd.date_range(start= min_timestamp, end=max_timestamp, freq='2H')
hourly_data = pd.DataFrame(index=timestamps)

for i, id in enumerate(df['id'].unique()):
    
    series_dict[id] = df.loc[df.id == id] # for dic
    hourly_data[id] =  df.loc[df.id == id]['value']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  # This is added back by InteractiveShellApp.init_path()

In [15]:
print("Sum of null values = \n",hourly_data.isnull().sum())
hourly_data.head()

Sum of null values =
 0       0
1       0
2       0
3       0
4       0
       ..
2917    0
2918    0
2919    0
2920    0
2921    0
Length: 2922, dtype: int64

,0,1,2,3,4,5,6,7,8,9,...,2912,2913,2914,2915,2916,2917,2918,2919,2920,2921
2021-01-04 12:00:00,0.786654,0.641158,0.574148,0.760861,0.822923,0.224135,0.572822,0.636559,0.594383,0.825885,...,0.99871,0.862324,0.595604,0.866838,0.646921,0.713123,0.50858,0.419542,0.674262,0.999969
2021-01-04 14:00:00,0.786680,0.641158,0.574141,0.760850,0.822923,0.224163,0.572781,0.636559,0.593857,0.825885,...,0.99871,0.862324,0.595600,0.866491,0.646819,0.713123,0.50858,0.419536,0.674262,0.999969
2021-01-04 16:00:00,0.786676,0.641158,0.574117,0.760795,0.822923,0.224148,0.572718,0.636559,0.592637,0.825885,...,0.99871,0.862324,0.595595,0.865829,0.646708,0.713123,0.50858,0.419526,0.674262,0.999969
2021-01-04 18:00:00,0.786675,0.641158,0.574068,0.760810,0.822923,0.224156,0.572656,0.636559,0.593411,0.825885,...,0.99871,0.862324,0.595590,0.865141,0.646915,0.713123,0.50858,0.419516,0.674262,0.999969
2021-01-04 20:00:00,0.786675,0.641158,0.574067,0.760873,0.822923,0.224152,0.572605,0.636559,0.593502,0.825885,...,0.99871,0.862324,0.595585,0.864614,0.647441,0.713122,0.50858,0.419506,0.674262,0.999969

In [16]:
hourly_data.to_csv(save_path)

In [17]:
start_date = min_timestamp
end_date = max_timestamp
plots_data = hourly_data[start_date:end_date]


'''
plt.style.use('fivethirtyeight')

def show_raw_visualization(data):
    for i, key in enumerate(data.columns):
      plt.figure(key)
      plt.plot(plots_data.index, plots_data[plots_data.columns[key]])
      plt.savefig(save_images+'/disk_evolution'+str(key)+'.png')

show_raw_visualization(plots_data)
'''

"\nplt.style.use('fivethirtyeight')\n\ndef show_raw_visualization(data):\n    for i, key in enumerate(data.columns):\n      plt.figure(key)\n      plt.plot(plots_data.index, plots_data[plots_data.columns[key]])\n      plt.savefig(save_images+'/disk_evolution'+str(key)+'.png')\n\nshow_raw_visualization(plots_data)\n"

In [18]:
import seaborn as sns

f, ax = plt.subplots(figsize=(100, 100))
corr = plots_data.corr()
sns.heatmap(corr, mask=np.zeros_like(corr, dtype=np.bool), cmap=sns.diverging_palette(220, 10, as_cmap=True),
            square=True, ax=ax)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  """

In [ ]:
#Listing highest correlated pairs
corr_matrix = plots_data.corr().abs()

In [ ]:
upper_tri = corr_matrix.where(np.triu(np.ones(corr_matrix.shape),k=1).astype(np.bool))
corr_more_than_95 = [column for column in upper_tri.columns if any(upper_tri[column] > 0.95)]
print('Number of pairs correlated at 0.95 = ', len(corr_more_than_95))
print('---------------------------------------------------------------')

corr_more_than_85 = [column for column in upper_tri.columns if any(upper_tri[column] > 0.85)]
print('Number of pairs correlated at 0.85 = ', len(corr_more_than_85))
print('---------------------------------------------------------------')

corr_more_than_75 = [column for column in upper_tri.columns if any(upper_tri[column] > 0.75)]
print('Number of pairs correlated at 0.75 = ', len(corr_more_than_75))
print('---------------------------------------------------------------')

In [ ]:
!pip install dataprep

In [ ]:
from dataprep.eda import create_report
create_report(plots_data)